body {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
}



h1 {
  text-align: center;
  font-size: 4.7rem;
}

.containment {}



p {
  font-size: 1.2rem;
  font-weight: 100;
}

.heading {
  margin-top: -3%;
}

.button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  margin-top: 20px;
  padding: 8px 20px;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.3s;
}

.button:hover {
  background-color: rgb(255, 247, 247);
  border: 2px solid, rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}



.background-picture {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(rgba(0, 0, 0, 0.581), rgba(10, 10, 10, 0.21)), url('/galleryphoto2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 90vh;
  margin-bottom: 10rem;
}

.hero-paragraph {
  margin-bottom: 5%;
}

.first-break-container {
  margin-block: 100px;

}

.first-break-h3 {
  margin-bottom: 1rem;
  text-align: center;
}

.first-break-p {
  line-height: 1.5px;
  text-align: center;
}

.first-break {
  margin-bottom: 5rem;
}

.second-section-picture {
  margin-top: 5rem;

}

.second-section-div {}

.second-section-image {
  margin-top: 5rem;
}

.second-section-h3 {
  margin-bottom: 1rem;
  text-align: center;
}

.second-section-p {
  line-height: 1.9rem;
  text-align: center;
}


.third-picture-container {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
  margin-top: 8rem;
}

.third-picture-div {
  position: relative;
  margin-block: 50px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(240, 240, 240, 0.404));
    z-index: 1;

  }
}

.info-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  margin-top: 20px;
  padding: 8px 20px;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.3s;
}


.dialog {
  background-image: linear-gradient((rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)));
}

.schedule-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.schedule-section {
  background: none;
  padding: 20px;
  text-align: center;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.section-description {
  margin-top: 10px;
  color: black;
}

.action-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.action-button:hover {
  background-color: black;
  color: white;
}


.become-a-member-image {
  margin-top: 5rem;
}


.fourth-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
}


.fourth-div {}


.footer-container {
  padding-top: 4rem;

}



.padding-break {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: space-around;
  align-items: center;
  padding-left: 22%;
}

.break-image-set {

  margin-block: 100px;
}

.member-container {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/eri-panci-ABdRtZKWJfE-unsplash.jpg')midnightblue;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 93vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}



.dropdown {
  display: none;
}

/* .links {
  display: none !important;
} */

/* .dropdown {
  display: none;
} */

.showcase-text {
  text-align: center;

}

@media(max-width:1900) {}

@media (max-width:1000px) {
  .schedule-container {
    display: grid;
    grid-template-columns: 1fr;
  }


}

@media (max-width :720px) {
  .hero-first-p {
    display: none !important;


  }


  .dropdown {
    display: block;
  }

  .links {
    display: none !important;
  }



  .showcase-text {
    text-align: center;

    max-width: 35rem;
  }

}


@media (min-width :720px) {


  .heading {
    margin-bottom: 4.5rem;
  }

  .view-tours-button {
    margin-top: 2.6rem;
  }



  .middle-image {
    margin-top: 5.1rem;
  }



}





@media(width >=1910px) {



  .heading {
    margin-bottom: -3.5rem;
  }

  .view-tours-button {
    margin-top: 1.3rem;
  }



  .middle-image {
    margin-top: 4.8rem;
  }


  .showcase-text {
    text-align: center;
    padding-left: 2rem;
    max-width: 35rem;
  }

  .first-break-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
  }

  .first-break {
    padding-top: 3rem;
  }

  .first-break-h3 {
    padding-bottom: 2rem;
  }

  .first-break-p {
    word-wrap: break-word;
  }

  .sitting-image {
    max-width: 500px;
    margin-left: 8%;
  }


  .second-section-picture {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 2%;
  }


  .second-section-image {
    max-width: 500px;
    margin-left: 15%;
    order: -1;
  }

  .second-section-p {
    word-wrap: break-word;

  }

  .second-section-div {
    padding-top: 10rem;
  }

  .second-section-image {
    max-width: 500px;
    margin-left: 35%;

  }

}